// Body
$body-bg: #f8fafc;

// Typography
$heading-font: 'Indie Flower', cursive;
$body-font: 'Comfortaa', cursive;

// Colors
$blue: #80BCCF;
$green: #7CCDCA;
$pink: #D883CE;
$purple: #9F8CD7;
$black: #1a1a1a;
$white: #fafafa;
$dark: #4f4f4f;
$light: #e1e1e1;
